@keyframes ani--V {
	from {
		height: 0;
	}
	to {
		height: calc(50% + #{$strokeWidth/2});
	}
}

@keyframes ani--H {
	from {
		width: 0;
	}
	to {
		width: 5 calc(50% + #{$strokeWidth/2});
	}
}

@keyframes countdown {
	0% {
		top: 0;
	}
	33% {
		top: -1em;
	}
	66% {
		top: -2em;
	}
	100% {
		top: -2em;
	}
}

@keyframes countdown2 {
	0% {
		content: '3';
	}
	33% {
		content: '2';
	}
	66% {
		content: '1';
	}
	100% {
		content: '1';
	}
}

@keyframes tilila {
	50% {
		opacity: .7;
	}
}

@keyframes pump {
	50% {
		box-shadow: 0 0 20px rgba(lighten($orange, 20%), .3);
	}
}
