.board {
	display: flex; // display: grid;

	width: 100%;
	height: 100%;
	margin-right: auto;
	margin-left: auto; // grid-template-columns: 100px 10px 100px 10px 100px;

	flex-wrap: wrap;
	grid-template-rows: auto;
	grid-template-columns: repeat($ncols, 1fr);
	grid-template-rows: auto;
}

.cell {
	position: relative;

	overflow: hidden; // height: 50px;	

	transition: background-color .5s cubic-bezier(0, 7.57, .46, -1.06);

	box-shadow: 0 0 0 1px rgba(255, 255, 255, .2);
	&.js-cell--empty {
		transition: background-color .5s cubic-bezier(.4, -2.87, .12, 3.58);
	}
	&:before,
	&:after {
		position: absolute;
		top: calc(50% - 5px);
		left: calc(50% - 5px);

		display: block;

		width: 0;
		height: 0;

		content: ''; // transition: top 5s ease, left 5s linear, width .2s ease-out, height .2s ease-out;
		transition: top .4s steps(2, end), left .4s steps(2, end);

		color: inherit;
		border-radius: $strokeRadius;
		background: currentColor;
		;
	} // EL BRILLO
	&--connected {
		&:before,
		&:after {
			box-shadow: 0 0 10px currentColor;
		}
	} //MODIFICADORES DE COLOR
	&--color-red {
		color: $red;
		background-color: rgba($red, .12);
		&:before,
		&:after {
			background-color: $red;
		}
	}
	&--color-blue {
		color: $blue;
		background-color: rgba($blue, $alpha);
		&:before,
		&:after {
			background-color: $blue;
		}
	}
	&--color-yellow {
		color: $yellow;
		background-color: rgba($yellow, $alpha);
		&:before,
		&:after {
			background-color: $yellow;
		}
	}
	&--color-white {
		color: $white;
		background-color: rgba($white, $alpha);
		&:before,
		&:after {
			background-color: $white;
		}
	}
	&--color-purple {
		color: $purple;
		background-color: rgba($purple, $alpha);
		&:before,
		&:after {
			background-color: $purple;
		}
	}
	&--color-green {
		color: $green;
		background-color: rgba($green, $alpha);
		&:before,
		&:after {
			background-color: $green;
		}
	}
	&.fR:before,
	&.fL:before,
	&.fT:before,
	&.fB:before,
	&.fR:after,
	&.fL:after,
	&.fT:after,
	&.fB:after,
	&.cell--end.tR:before,
	&.cell--end.tL:before,
	&.cell--end.tT:before,
	&.cell--end.tB:before,
	&.cell--end.tR:after,
	&.cell--end.tL:after,
	&.cell--end.tT:after,
	&.cell--end.tB:after {
		transition: top 0s, left 0s, width .2s ease-out, height .2s ease-out;
	} //PUNTOS INICIALES DEL TRAZO
	&.fB,
	&.fT {
		&:before {
			top: -$strokeRadius;
			left: calc(50% - #{$strokeWidth/2});

			width: $strokeWidth;
			height: calc(50% + #{$strokeRadius*2});

			transition: top 0s, left 0s, width .2s ease-out, height .2s ease-out;
		}
	}
	&.fL,
	&.fR {
		&:before {
			top: calc(50% - #{$strokeWidth/2});
			left: -$strokeRadius;

			width: calc(50% + #{$strokeRadius*2});
			height: $strokeWidth;

			transition: top 0s, left 0s, width .2s ease-out, height .2s ease-out;
		}
	}
	&.fT:before {
	}
	&.fB:before {
		top: auto;
		bottom: -$strokeRadius;

		transition: top 0s, left 0s, width .2s ease-out, height .2s ease-out;
	}
	&.fL:before {
	}
	&.fR:before {
		right: -$strokeRadius;
		left: auto;

		transition: top 0s, left 0s, width .2s ease-out, height .2s ease-out;
	} //PUNTOS FINALES
	&.tT,
	&.tB {
		&:after {
			top: calc(50% - #{$strokeRadius});
			left: calc(50% - #{$strokeWidth/2});

			width: $strokeWidth;
			height: calc(50% + #{$strokeRadius*2});

			transition: top 0s, left 0s, width .2s ease-out, height .2s ease-out;
		}
	}
	&.tL,
	&.tR {
		&:after {
			top: calc(50% - #{$strokeWidth/2});
			left: calc(50% - #{$strokeRadius});

			width: calc(50% + #{$strokeRadius*2});
			height: $strokeWidth;

			transition: top 0s, left 0s, width .2s ease-out, height .2s ease-out;
		}
	}
	&.tT:after {
		top: auto;
		bottom: calc(50% - #{$strokeWidth/2});

		transition: top 0s, left 0s, width .2s ease-out, height .2s ease-out;
	}
	&.tB:after {
	}
	&.tL:after {
		right: calc(50% - #{$strokeWidth/2});
		left: auto;

		transition: top 0s, left 0s, width .2s ease-out, height .2s ease-out;
	}
	&.tR:after {
	}
	//MODIFICADOR DE LOS EXTREMOS. Son distintos depediendo si el otro trazo es un FROM o u TO. O SI ESTAN SOLOS
	&--end:before {
		top: calc(50% - #{$endSize/2});
		left: calc(50% - #{$endSize/2});

		width: $endSize;
		height: $endSize;

		transition: box-shadow .5s;

		border-radius: 100%;
	}
	&.tR,
	&.tL,
	&.tT,
	&.tB {
		&.cell--end:before {
			top: calc(50% - #{$endSize/2});
			left: calc(50% - #{$endSize/2});

			width: $endSize;
			height: $endSize;

			transition: box-shadow .5s;

			border-radius: 100%;
		}
	}
	&.fR,
	&.fL,
	&.fT,
	&.fB {
		&.cell--end:before {
			border-radius: $strokeRadius;
		}
		&.cell--end:after {
			top: calc(50% - #{$endSize/2});
			left: calc(50% - #{$endSize/2});

			width: $endSize;
			height: $endSize;

			transition: box-shadow .5s;

			border-radius: 100%;
		}
	}
}
