.btn {
	animation: pump 5s ease-in infinite;

	&,
	&:link,
	&:visited {
		font-size: 1.2em;

		padding: 15px;

		transition: .4s ease-out;
		text-transform: uppercase;

		color: $orange;
		border: 1px solid $orange;
		background: rgba($bgcolor, .5);
		// background: rgba($bgcolor, .5);
	}

	&:hover,
	&:active,
	&:focus {
		color: $white;
		border-color: darken(saturate($orange, 30%), 20%);
		background: $orange;
		box-shadow: 0 0 15px rgba(lighten($orange, 20%), .5);
	}
}
