.city {
	display: flex;
	overflow: hidden;
	flex-direction: row;

	flex-wrap: nowrap;
	justify-content: space-between;
}

.light {
	position: relative;

	flex: 1;

	transition: .7s ease-out; // outline: 1px solid yellow;

	outline: 1px solid white; //le ponemos un before con una tapa
	.light__photo {
		position: absolute;
		top: 0;

		display: block;

		width: 100%;
		height: 100%;

		transition: .2s;

		background-repeat: no-repeat;
		background-position: center;
		background-position-y: 50%;
		background-size: cover;

		filter: grayscale(50%) blur(10px) saturate(100%);
	}
	&:after {
		position: absolute;
		top: 0;

		display: block;

		width: 100%;
		height: 100%;

		content: '';
		transition: .4s ease-in-out;

		background-color: rgba(0, 0, 0, .5);
		background-repeat: no-repeat;
		background-position: center;
		background-size: 50%;
		@media (min-width: 1000px) {
			background-size: auto;
		}
	}
	&.light--on {
		.light__photo {
			filter: grayscale(0%) blur(0px) saturate(120%);
		}
		&:after {
			top: -100%;
		}
	}
	&--tree {
		.light__photo {
			background-image: url('img/tree.jpg');
		}
		&:after {
			background-image: url('img/tree__ico.svg');
		}
	}
	&--gift {
		.light__photo {
			background-image: url('img/gift.jpg');
		}
		&:after {
			background-image: url('img/gift__ico.svg');
		}
	}
	&--ball {
		.light__photo {
			background-image: url('img/ball.jpg');
		}
		&:after {
			background-image: url('img/ball__ico.svg');
		}
	}
	&--snowman {
		.light__photo {
			background-image: url('img/snowman.jpg');
		}
		&:after {
			background-image: url('img/snowman__ico.svg');
		}
	}
	&--street {
		.light__photo {
			background-image: url('img/street.jpg');
		}
		&:after {
			background-image: url('img/street__ico.svg');
		}
	}
	&--carousel {
		.light__photo {
			background-image: url('img/carousel.jpg');
		}
		&:after {
			background-image: url('img/carousel__ico.svg');
		}
	}
}
