.congrats {
	display: flex;

	color: white;
	background-image: url('img/splash.jpg');
	background-repeat: no-repeat;
	background-position: top center;
	background-size: cover;

	justify-content: center;
	align-items: center;

	h2 {
		font-family: 'Lobster Two', cursive;
		font-size: 3em;
		font-weight: 100;

		margin-top: 0;
	}

	.card {
		max-width: 600px;
	}

	.btn {
		z-index: 10;
	}

	&__logo {
		display: block;

		width: 100px;
		max-width: 100px;
		height: 31.367px;
		margin: 0 auto;
		margin-top: 10px;
	}
}

.card {
	position: relative;

	margin-right: auto;
	margin-left: auto;
	padding: 30px;
	padding-bottom: 50px;

	transform: rotate(-5deg);

	color: $bgcolor;
	border-radius: 20px;
	background: rgba(white, .8);
	box-shadow: 0 0 5px rgba($bgcolor, .9);

	.btn {
		background: transparent;

		&:hover {
			background: $orange;
		}
	}

	&__title {
		color: $red;
		text-shadow: 0 0 2px rgba($bgcolor, .2);
	}

	&:after {
		position: absolute;
		top: 20px;
		right: 20px;
		bottom: 20px;
		left: 20px;

		display: block;

		content: '';
		pointer-events: none;

		border: 4px dotted $red;
		border-radius: 10px;
	}
}

@media(orientation:portrait) and (max-width:480px) {
	.congrats .card {
		zoom: .8;

		max-width: 350px;

		transform: none;
	}
}

@media(orientation:landscape) and (max-height:480px) {
	.congrats {
		.card {
			zoom: .8;

			padding: 20px;

			transform: none;
		}

		.card:after {
			display: none;
		}

		.card__title {
			margin: 0;
			margin-bottom: .5em;
		}

		p {
			margin: 0;
		}

		.btn {
			margin-top: .5em;
		}
	}
}
