.fullscreen {
	display: flex;
	overflow: hidden;
	flex-direction: column;

	height: 100%;
	padding: 20px;
	padding-bottom: 40px;

	text-align: center;

	background-repeat: no-repeat;
	background-position: top center;

	/*p {
		margin-top: 0;
	}

	img {
		display: block;

		margin-right: auto;
		margin-left: auto;
	}*/

	.btn {
		margin-top: 1em;
	}
}

.instructions {
	.arbol {
		max-height: 200px;

		@media (max-width: 600px) {
			height: 150px;
		}
	}

	&__img {
		display: flex;
		flex-direction: column;

		justify-content: flex-start;
		align-items: center;
	}

	&__txt {
		flex: 1;
	}

	&__logo {
	}

	@media only screen and (max-device-width: 1024px) and (orientation: landscape) {
		flex-direction: row;

		// INstrucciones en landscape
		&__img {
			display: flex;
			flex-direction: column;
			flex: 1;

			justify-content: center;
			align-items: center;

			.arbol {
				width: auto;
				height: 100% !important;
			}

			.title {
				flex: 1;

				width: 100%;

				justify-self: flex-start;
			}
		}

		&__txt {
			display: flex;
			flex-direction: column;

			justify-content: center;
			align-items: center;
		}

		@media (orientation: landscape) and (max-height:300px) {
			.instructions__txt p:first-child {
				display: none;
			}
		}
	}

	@media (orientation: portrait) and (max-width:400px) {
		.instructions__logo {
			position: relative;
		}

		.arbol {
			display: none;
		}
	}
}

.title {
	width: 50%;
	max-width: 300px;
	margin-bottom: 1em;

	animation: tilila 3s ease-in infinite;
}

.logo {
	display: block;

	width: 100px;
	margin: 0 auto;
}

@media (max-width:300px) and (orientation: portrait),
(max-height:568px) and (orientation: portrait) {
	.instructions {
		font-size: .8em;

		.arbol {
			height: 80px !important;
		}

		.title {
			width: 70%;
		}

		button {
			zoom: .8;

			margin-top: .5em;
		}
	}
}
