.game {
	display: flex;
	flex-direction: column;

	height: 100vh;

	background: $bgcolor;

	align-items: stretch;
}

.game__drawing {
	height: 30vh;
	min-height: 100px;
	margin: 0;
	padding: 0;

	background-image: url('img/vigo_bg.png');
	background-position: center;
	background-size: cover;
}

.game__board {
	position: relative;

	flex: 1;

	width: 100%;
	height: 70vh;
	max-height: calc(100vh - 100px);
	margin: 0;
	padding: 0;
}

.application {
	position: relative;

	height: calc(100vh - 30px);
}
