.modal {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;

	background: rgba(0, 0, 0, .8);
}

.modal__dialog {
	position: absolute;
	top: 100px;
	left: calc(50% - 165px);

	width: 300px;
	padding: 15px;

	text-align: center;

	color: $bgcolor;
	border-radius: 20px; // background-color: desaturate(lighten($bgcolor, 30%), 70%);
	background-color: $white;
	box-shadow: 0 0 10px rgba(0, 0, 0, .5);
	@media (max-width: 300px) {
		left: calc(50% - 135px);

		zoom: .8;

		width: 250px;
	}
	.dialog__title {
		line-height: 1.3em;

		margin-top: 0;

		color: #609243;
	}
	&:after {
		position: absolute;
		top: 5px;
		right: 5px;
		bottom: 5px;
		left: 5px;

		display: block;

		content: '';
		pointer-events: none;

		border: 2px dotted $green;
		border-radius: 20px;
	}
}

.counter {
	font-size: 3em;

	position: relative;

	overflow: hidden;

	width: 1em;
	height: 1em;
	margin: 0 auto;
	margin-bottom: 20px; // overflow: hidden;

	color: $orange;
	&:before {
		line-height: 1em;

		position: absolute;
		top: 0;

		display: block;

		content: '3 2 1';
		animation-name: countdown;
		animation-duration: 3s;
		animation-timing-function: step-end;
		animation-iteration-count: infinite;
		text-align: center;
	}
}

.dialog__ornament {
	margin-top: -50px;
}
