$endSize: 1.5rem;
$strokeWidth: 10px;
$strokeRadius: $strokeWidth/2;
$boardSize: 200px;
$boardSizeHeight: 80vh;
$ncols: 1;
$nrows: 5;
$red: #FF1744;
$orange: #E37222;
$blue--dark: #010116;
$blue: #00C1FF;
$yellow: #FFEE58;
$purple: #CA48EB;
$green: #AEEA00;
$white: #FFFFFF;
$grey--light: #D9D6CF;
$grey: #888888;
$alpha: .12;
$textcolor: $grey--light;
$bgcolor: $blue--dark;
