$endSize: 40%;
$strokeWidth: 10px;
$boardSize: 200px;
$ncols: 4;
$nrows: 5;
body {
	font-family: 'Helvetica', sans-serif;

	color: #D9D6CF;
	background: #282828;
}

.board {
	display: grid;

	width: $boardSize;
	height: $boardSize;
	margin: 20px auto;

	grid-template-columns: repeat($ncols, 1fr);
	grid-template-rows: repeat($nrows, 1fr);
}

.cell {
	position: relative;

	overflow: hidden;

	box-shadow: 0 0 0 .2px rgba(255, 255, 255, .2);
	&:before,
	&:after {
		position: absolute;

		display: block;

		content: '';

		color: inherit;
		background: currentColor;
		box-shadow: 0 0 20px currentColor;
	}
	&--color-red {
		color: #FF1744;
	}
	&--color-blue {
		color: #80DEEA;
	}
	&--color-yellow {
		color: #FFEE58;
	}
	&--color-green {
		color: #AEEA00;
	}
	&--end {
		&:before {
			top: calc(50% - #{$endSize/2});
			left: calc(50% - #{$endSize/2});

			width: $endSize;
			height: $endSize;

			border-radius: 100%;
		}
	}
	&.fB,
	&.fT {
		&:before {
			left: calc(50% - #{$strokeWidth/2});

			width: $strokeWidth;
			height: 50%;

			animation: ani--V 1s infinite;
		}
	}
	&.fL,
	&.fR {
		&:before {
			top: calc(50% - #{$strokeWidth/2});

			width: calc(50% + #{$strokeWidth/2});
			height: $strokeWidth;

			animation: ani--H 1s infinite;
		}
	}
	&.fT:before {
	}
	&.fB:before {
		bottom: 0;
	}
	&.fL:before {
	}
	&.fR:before {
		right: 0;
	}
	&.tT,
	&.tB {
		&:after {
			top: 50%;
			left: calc(50% - #{$strokeWidth/2});

			width: $strokeWidth;
			height: 50%;

			animation: ani--V 1s infinite;
		}
	}
	&.tL,
	&.tR {
		&:after {
			top: calc(50% - #{$strokeWidth/2});
			left: 50%;

			width: 50%;
			height: $strokeWidth;

			animation: ani--H 1s infinite;
		}
	}
	&.tT:after {
		top: unset;
		bottom: calc(50% - #{$strokeWidth/2});
		;
	}
	&.tB:after {
	}
	&.tL:after {
		right: calc(50% - #{$strokeWidth/2});
		left: unset;
		;
	}
	&.tR:after {
	}
}

@keyframes ani--V {
	from {
		height: 0;
	}
	to {
		height: calc(50% + #{$strokeWidth/2});
	}
}

@keyframes ani--H {
	from {
		width: 0;
	}
	to {
		width: 5 calc(50% + #{$strokeWidth/2});
	}
}
